
@import "compass/css3";
/* This section contains the expandable div elements taken from http://codepen.io/johnegraham2/pen/Lniyd?editors=0100
It makes use of the file used here as expandoDiv.js
*/
.container {
  width: 80%;
  margin: 30px auto;
}

.expandable-boxes {
  position: relative;
}

.expandable-box {
  float: left;
  width: 10px;
  height: 10px;
  /*overflow: hidden;*/
  border: 5px solid black;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
  
  &.open {
    width: 96%;
    height: 130px;
    margin: 0;
  }
  

  
/*end expandable div code*/

/*============= Begin Main CSS=============== */



body {
  background-color: #fff;
  padding:50px;
  font: 15px/1.5 "Lora", Georgia, serif;
  color:#00171f;
  font-weight:400;
  display:flex;
  flex-flow: row nowrap;
}

.column {
  min-width:25%;
  margin:0 auto;
  order:1;
  flex-grow:1;
}

.main {
  max-width: 80%;
  flex-grow: 3;
  order:2;
}




h1, h2, h3, h4, h5, h6 {
  color:#003459;
  font-family: "Roboto Condensed", Arial, sans-serif;
  margin:20px 0 10px;
}


p, ul, ol, table, pre, dl {
  margin:5px 5px 5px 5px;
}

/*h1, h2, h3 {
  line-height:1.1;
}*/

li {
  margin: 0 5px 5px 5px;
  list-style: none;
}

h1 {
  font-size:32px;
}

h2 {
  color:#222;
}

h3 {
  font-size: 28pt;
  text-decoration: underline;
  font-weight: 700;
}

emph {
  color:#222;
  font-weight: 700;
  /*font-style: italic;*/
}

p.sublist {
  font-weight: 300;
  text-indent: 2cm;
  line-height: 1.1;

}

h4.feed-item-title {
  color:#007ea7;
  line-height: 1.3;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 500;
}

a {
  color:#007ea7;
  text-decoration:none;
}

a:hover {
  color:#003459;
}

a small {
  font-size:11px;
  color:#007ea7;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {    
  
  /*position:fixed;  
  min-height: 400px;*/
  max-width: 90%;
  border-right: 4px solid #007ea7;
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  background: #f4f4f4;
  margin-bottom:15px;
  margin-right:15px;
  width: 100%;
  order:3;
}

header li {
  /*float:left;*/
  width:100%;
}

header p {
  order:2;
}

header h1 {
  order:1;
}

small {
  font-size:11px;
  /*position:absolute;
  bottom:-20%;
  left:auto;*/
  order:4;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 10px;
}

/*footer {
  width:270px;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}*/
